.download-component {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 40px 0;

	.copy-button button,
	.link-button {
		padding: 10px 20px;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		color: white;
		background-color: var(--pink);
		font-size: 16px;
		text-align: center;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: var(--pink-light);
		}
	}

	.copy-button button {
		background-color: var(--blue);
		&:hover {
			background-color: var(--blue-light);
		}
	}

	.link-button {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--green);
		&:hover {
			background-color: var(--green-light);
		}
	}
}

// Button Download New Version
/*

<button class="DownloadButton">
    <span class="button_lg">
        <span class="button_sl"></span>
        <span class="button_text">Download Now</span>
    </span>
</button>


.DownloadButton {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }

  &::before {
    top: 0;
    border-bottom-width: 0;
  }

  &::after {
    bottom: 0;
    border-top-width: 0;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:active {
    &::before,
    &::after {
      right: 3px;
      left: 3px;
    }

    &::before {
      top: 3px;
    }

    &::after {
      bottom: 3px;
    }
  }

  &:hover {
    color: #0f1923;

    .button_sl {
      width: calc(100% + 15px);
    }

    .button_lg::after {
      background-color: #fff;
    }
  }

  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 2px;
      background-color: #0f1923;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 4px;
      height: 4px;
      background-color: #0f1923;
      transition: all .2s ease;
    }
  }

  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
  }

  .button_text {
    position: relative;
  }
}

*/
